/* mixmat-tsw-editor */
.html-active div.wp-editor-tabs 
button#content-html.wp-switch-editor.switch-html {
    /* background: #fcfcfc; */
    color: #000;
    border-bottom-color: paleturquoise; /* skyblue */
    font-size: larger;
    font-weight: bolder;
    border-top: thin solid skyblue;
    border-left: thin solid transparent;
    border-right: 1px solid transparent;
    background: paleturquoise; /* skyblue */
}
.html-active .quicktags-toolbar{
    background: paleturquoise; /* skyblue */
}
.wp-switch-editor {
    
    text-shadow: 0 1px 0 white;
}
.mxmt-tsw-mcepopup img{
    max-width: 100%;
    height: auto;
}
.mxmt-popup-wrap ul li{
    list-style: square inside;
    color: #4d4d4d;
    font-style: italic;
}
.mxmt-tsw-mcepopup h3{
    border-bottom: thin solid #ccc;
    width: 100%;
    background: skyblue;
    padding-left:4px;
    text-shadow: 0 1px 0 white;
}
details summary {
cursor:pointer; font-size: larger; font-weight:bold; 
    color: green;
}

[class^="mixmat_"]{
    box-sizing: border-box;
}

.mixmat-container {
    padding: 7px 0 0 0;
    margin: 0 auto 0 auto;
    display: block;
    position:relative
}
.mixmat-row {
    width: 100%;
    display: inline-block;
    padding: 8px 0 0 0;
} 
.mixmat-container:after, 
.mixmat-container:before,
.mixmat-row:after,
.mixmat-row:before{
    content:"";
    display:table;
    clear:both
}

.mixmat_one_half,
.mixmat_last_one_half{
  width: 48%;
  margin-right: 1%;
  margin-left: 1%;
}
.mixmat_one {
    width: 98%;
    margin-right: 1%;
    margin-left: 1%;
}
.mixmat_one_fourth, .mixmat_one_third, .mixmat_one_half, .mixmat_two_thirds, .mixmat_three_fourths, .mixmat_one {
    float: left;
    padding: 0;
    margin-right: 0;
    margin-left: 0;
    margin-bottom: 10px;
    position: relative;
    min-height: 1px;
    text-align: left;
    padding: 7px;
}
.mixmat_last_one_fourth, .mixmat_last_one_third, .mixmat_last_one_half,
.mixmat_last_two_thirds, .mixmat_last_three_fourths {
    float: right;
    position: relative;
    min-height: 1px;
    text-align: left;
    margin-bottom: 10px;
    padding: 7px;
}
@media all and (max-width: 710px) {
.mixmat_one_fourth, .mixmat_two_thirds, .mixmat_three_fourths, .mixmat_one,
.mixmat_last_one_fourth, .mixmat_last_two_thirds, .mixmat_last_three_fourths {
    float: left;
    position: relative;
    min-height: 1px;
    text-align: left;
    margin-bottom: 10px;
    padding: 7px;
    width: 100%;
    }
}
@media all and (max-width: 600px) {
.mixmat_one_half, .mixmat_last_one_half, .mixmat_one_third, .mixmat_last_one_third {
    float: left;
    width: 100%;
    }
}  
