/* mixmat-tsw-editor */
.html-active div.wp-editor-tabs 
button#content-html.wp-switch-editor.switch-html {
    /* background: #fcfcfc; */
    color: #000;
    font-size: larger;
    font-weight: bolder;
    border-top: thin solid skyblue;
    border-left: thin solid transparent;
    border-right: 1px solid transparent;
    border-bottom-color: transparent;
    background: skyblue
}
.html-active .switch-html, .tmce-active #content-tmce.switch-tmce {
background: beige;
box-shadow: -1px 9px 15px -4px rgba(20,20,20, .46);

}
.html-active .switch-html, .tmce-active .switch-tmce{
border-bottom-color: transparent;
}
.html-active .quicktags-toolbar{
    background:  skyblue 
}
.wp-switch-editor {
    
    text-shadow: 0 1px 0 white;
}
.mxmt-tsw-mcepopup img{
    max-width: 100%;
    height: auto;
}
.mxmt-popup-wrap ul li{
    list-style: square inside;
    color: #4d4d4d;
    font-style: italic;
}
.mxmt-tsw-mcepopup h3{
    border-bottom: thin solid #ccc;
    width: 100%;
    background: skyblue;
    padding-left:4px;
    text-shadow: 0 1px 0 white;
}
details summary {
    cursor:pointer; 
    font-size: larger; 
    font-weight:bold; 
    color: green;
}
